# Virtual environment
myenv/
venv/

# ML Models

*.engine
*.weights
*.pt 
*.mp4

# Training outputs

results/
logs/
logging/

# Data files
*.csv
*.npy
*.npz
*.h5
*.pkl

# Python cache
__pycache__/
*.pyc

# Git
.git
.gitignore

# OS junk
.DS_Store
